build/*
tool_build/*
libversat.a
versat
versatOutput/
examples/simple_example/simple_example
examples/simple_example/system.vcd
TAGS
compile_flags.txt

# document/ build artifacts (see document/Makefile)
document/*.tex
document/*.cls
document/*.pdf
document/*.log
document/*.aux
document/*.toc
document/*.lof
document/*.lot
document/*.out
document/figures/*.pdf
document/figures/*.svg
